<div class="slider">
	<p>Slider</p>
</div>

<style>
    .slider {
        position: fixed;
        height: 500px;
        width: 200px;
    }

    @media screen and (max-width: 1240px) {
        .slider {
            display: none;
        }
    }
</style>
